body {
  background-color: #0A2647;
}

.container {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  border: red 2px solid;
  width: 560px ;
  height: 560px ;
  margin-bottom: 50px;
}

.pixels {
  display: flex;
  width: 34px;
  height: 34px;
  background-color: white;
  border: 0.5px solid black;
}

.hovered {
  background-color: #ff6f61;
}